xml00/xml00.xml

<?xml version="1.0"?>
<!DOCTYPE alumno[
    <!ELEMENT alumnos (alumno*)>
	<!ELEMENT alumno (nombre, nacimiento, curso)>
	<!ELEMENT nombre (#PCDATA)>
	<!ELEMENT apellido (#PCDATA)>
	<!ELEMENT curso (#PCDATA)>

	<!ELEMENT nacimiento (#PCDATA)>
]>

<!ATTLIST alumno
id ID #REQUIRED
edad CDATA #IMPLIED
becado(si|no) "no">

<alumno>
<nombre> Eren Jeager</nombre>
<nacimiento> 30/marzo/835</nacimiento>
</alumno>
